body {
  background-color: gray;
}

h1 {
  color: blue;
}

/* Grid dos albums */

div.grid {
  width: 70%;
  height: 332px;
  margin: auto;
  border: 0px solid white;
  line-height: 0;
}

img.grid {
  width: 24.9%;
  height: auto;
  float: left;
}

img.grid:hover {
  border: 0px solid red;
  width: 24%;
}
