body {
  background-color: #1e1e1e;
}

h1 {
  color: blue;
}

/* Grid dos albums */

div.grid {
  width: 70%;
  height: 334px;
  margin: auto;
  border: 0px solid red;
  line-height: 0;
}

img.grid {
  width: 25%;
  height: auto;
  float: left;
}

img.grid:hover {
  border: 0px solid red;
  width: 24%;
}

/* Titulo Principal */

div.header {
  width: 70%;
  height: auto;
  margin: auto;
  border: 1px solid white;
}
